# Default ignored files
/shelf/
/workspace.xml
/target/
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# IntelliJ out/ directory
out/

# Workspace files
*.ws.xml

# Auto-save and index files
.idea_modules/